@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&family=Nunito:ital,wght@0,200;0,300;0,500;0,600;0,700;0,900;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');



:root{
    --darkgray: #282828;
    --middlegray: #C5C7CD;
    --lightgray: #DCDDDD;
    --darkblue: #158B8E;
    --middleblue: #26B7BC;
    --lightblue: #5FC1C7;
    --box-shadow: 0 5px 15px rgb(0,0,0,0.2);
}

*{
    margin: 0; padding: 0;
    font-family: 'Roboto Condensed', 'Noto+Sans+TC',sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    transition: all .2s linear;
}

html{
    overflow-x: hidden;
    scroll-padding-top: 50px;
}

/* section:not(:first-child){
    padding: 60px;
} */

/* nav */
.nav{
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 20px;
}

.nav .logo{
    color: var(--darkgray);
    font-weight: 900;
    font-size: 30px;
}

.nav .logo:hover{
    color:var(--lightblue);
    transform: scale(1.05);
    cursor: pointer;
}

.nav .navbar a{
    color: var(--darkgray);
    margin: 10px 50px;
    font-weight: 700;
    font-size: 18px;
}

.nav .navbar a:hover,
.nav .navbar .active{
    border-bottom: var(--darkgray) solid 1px;
    letter-spacing: 2px;
    cursor: pointer;
}

.nav .icon a,
.nav .icon i{
    color: var(--darkgray);
    margin: 10px 10px;
    font-size: 30px;
}

.nav .icon a:hover,
.nav .icon i:hover{
    color: var(--lightblue);
    transform: scale(1.2);
    cursor: pointer;
}

.nav .icon #menu-bars{
    display: none;
}

/* header */
#header{
    position: relative;
    width: 100%;
    height: 1080px;
    top: 80px;
    background: url(image/myphoto.png) center center no-repeat;
    background-size: cover;
}

#header .name{
    position: absolute;
    top: 300px;
    right: 150px;
    color: white;
}

#header .name h5{
    font-size: 25px;
}

#header .name h3{
    font-size: 73px;
}

#header .name p{
    font-size: 13px;
    letter-spacing: 13px;
    border-bottom: white solid 1px;
}

#header .name h4{
    font-size: 26px;
    margin-top: 13px;
}

#header .intro{
    position: absolute;
    top: 300px;
    left: 100px;
    width: 500px
}

#header .intro h6{
    color: var(--middleblue);
    font-size: 26px;
}

#header .intro h3{
    color: var(--lightblue);
    font-size: 52px;
}

#header .intro p{
    color: white;
    font-size: 16px;
    line-height: 26px;
    margin-top: 13px;
    margin-bottom: 26px;
}

#header .intro a{
    width: fit-content;
    color: var(--lightblue);
    font-size: 20px;
    border-bottom: var(--lightblue) solid 1px;
}

#header .intro a:hover{
    letter-spacing: 2px;
}

/* works */
#works{
    /* background: var(--lightgray);
    background-position: 0 70%; */
    text-align: center;
    position: relative;
    top: 100px;
    padding-top: 100px;
}

#works .bg{
    width: 100%;
    height: 500px;
    background: var(--lightgray);
    position: relative;
    top: 250px;
    padding: 0;
    z-index: -10;
}

#works h3{
    color: var(--lightblue);
    font-size: 50px;
}

#works .label{
    position: relative;
    top: -450px;
    margin: 100px 0 0 0;
}

#works img{
    width: 10%;
    margin: 0 1%
}

#works .label .Website:hover{
    cursor: pointer;
    content: url(image/website0-.svg);
    width: 30%;
    z-index: 10;
}


/* about */
#about{
    position: relative;
    top: -180px;
    text-align: center;
    padding: 60px;
}

#about h3{
    color: var(--lightblue);
    font-size: 50px;
    /* margin-top: 100px; */
}

#about h4{
    color: var(--middleblue);
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 30px;
}

#about h5{
    color: var(--darkblue);
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 25px;
}

#about p{
    color: black;
    font-size: 14px;
}

#about .edu{
    background: url(image/edu.png) no-repeat;
    background-size: contain;
    background-position: 40%;
    border-bottom: var(--darkgray) solid 1px;
    margin-top: 10px; margin-bottom: 5px;
    padding: 60px 20px 30px 20px;
}

#about .edu p{
    margin-top: 15px;
}

#about .sec{
    display: flex;
    justify-content: space-around;
    border-bottom: var(--darkgray) solid 1px;
    padding: 0px 20px 30px 20px;
}

#about .sec .exp{
    text-align: start;
}

#about .sec .comp{
    text-align: start;
}

#about .third{
    display: flex;
    justify-content: space-around;
    padding: 0px 20px 30px 20px;
}

#about .third .third1,
#about .third .third2,
#about .third .third3 {
    text-align: start;
}

/* contact */
#contact{
    background-color: var(--lightgray);
    text-align: center;
    padding: 60px;
}

#contact h6{
    color: white;
    font-size: 18px;
}

#contact h3{
    color: var(--lightblue);
    font-size: 50px;
}

#contact .SNS .row1{
    margin: 30px;
}

#contact .SNS a{
    display: inline-block;
    width: 300px;
    padding: 10px;
    border: var(--middleblue) solid 1px;
    color: var(--lightblue);
    font-size: 15px;
    margin: 50px 50px 0 50px;
    line-height: 15px;
}

#contact .SNS a:hover{
    letter-spacing: 2px;
    background-color: var(--lightblue);
    color: white;
}

#contact .SNS a i{
    color: var(--lightblue);
    font-size: 25px;
    margin-right: 15px;
}
#contact .SNS a:hover i{
    color: white;
}


/* footer */
#footer{
    background-color: var(--lightgray);
    text-align: center;
    padding: 60px;
}

#footer .credit{
    border-top: var(--lightblue) solid 1px;
    padding: 20px;
    color: white;
    font-size: 15px;
}

#footer .credit span{
    color: var(--middleblue);
    font-size: 20px;
}